@charset "UTF-8";
@font-face {
    font-family: 'Roboto';
    src: url('../ex019.1/fonts/Roboto-Black.ttf') format('truetype');
}
body{
    font-family: 'Roboto';
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: white;
    background-color: red;
}

div:hover {
    color: red;
}